.body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-width: 0px;
	background-color: #3A3F46;
	position: absolute;
}

.desktop {
	margin: auto;
	background-color: #3A3F46;
	height:100%;
}

.dtit {
	font-family: helvetica;
	text-align: left;
	padding-left: 20px;
	font-size: x-large;
	color: #E6E6E6;
	font-weight: bold;
	margin: auto;
	background-color: #2E3238;
	max-width: 100%;
	line-height: 40px;
	margin-bottom: 20px;
}

.dtime {
	margin: auto;
	padding-right: 8px;
}

input[type=time] {
  border: none;
  text-align: center;
  color:#3683DC;
  background-color: #2E3238;
  font-size: 60px;
  font-family: helvetica;
  width:246px;
  height: 80px;
}

input[type=time]:focus {
  outline: none;
  border: none;
}

.dwd {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-width: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: #3A3F46;
	background-color: #3A3F46;
	max-width: 260px;
	height: 70px;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
	font-family: helvetica;
  display: inline-block;
  border-radius: 0px;
  background: #2E3238;
  color: #3683DC;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #3683DC;
  color: #3A3F46;
}
.tradio {
	padding-bottom: 20px;
	margin:auto;
}

.cs {
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-color: #3A3F46;
	border-bottom-width: 3px;
}
.cst{
	font-family: "helvetica";
	text-align: center;
	color: #E6E6E6;
	background-color: #2E3238;
	width: 60px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	margin-bottom: 3px;
}
.bset {
	cursor: pointer;
	color: #3683DC;
	line-height: 40px;
	font-family: helvetica;
	text-align: center;
	font-size:large;
	font-weight: bold;
	background-color: #2E3238;
	max-width: 260px;
	height: 40px;
	margin: auto;
}



